{:mvn/repos {"datomic-cloud" {:url "s3://datomic-releases-1fc2183a/maven/releases"}}

 :aliases
 {:nrepl
  {:extra-deps {nrepl/nrepl         {:mvn/version "0.8.3"}
                criterium/criterium {:mvn/version "0.4.5"}
                com.clojure-goes-fast/clj-async-profiler {:mvn/version "0.5.0"}}
   :main-opts  ["-e" "(require,'[criterium.core,:refer,[bench,quick-bench]]),(require,'[clj-async-profiler.core,:as,prof]),(require,'[nrepl.server,:refer,[start-server]]),(set!,*print-length*,100),(start-server,:port,56565)"]}

  :perf
  {:extra-deps {com.clojure-goes-fast/clj-async-profiler {:mvn/version "0.5.0"}}
   :main-opts  ["-e" "(require,'[clj-async-profiler.core,:as,prof])"]}

  :ion-dev
  {:extra-deps {com.datomic/ion-dev {:mvn/version "0.9.247"}}
   :main-opts  ["-m" "datomic.ion.dev"]}

  :kickoff
  {:extra-deps {dev.golin/kickoff {:local/root "/home/glin/projects/kickoff"}}
   :main-opts  ["-m" "dev.golin.kickoff.default"]}}}
